@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    padding: 0rem 5vw 15vh;
}

@media only screen and (max-width: 880px) {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
        padding: 0rem 5vw 5vh;
    }
}

.wrapper {
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 880px) {
    .wrapper {
        display: flex;
        margin: 1rem 0 1rem 0;
        width: 100%;
    }
}

.aboutBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10vh;
}

.aboutTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.aboutRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 6vh;
}

@media only screen and (max-width: 880px) {
    .aboutRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        gap: 6vh;
    }

}

.title {
    font-size: 1.9rem;
    text-transform: capitalize;
    color: $secondary;
    font-weight: 700;
}

@media only screen and (max-width: 880px) {
    .title {
        font-size: 1.4rem;
        text-transform: capitalize;
        color: $secondary;
        font-weight: 700;
        text-align: center;
    }
}

.aboutBoxrow {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0 4rem;
    gap: 5vh;
}

@media only screen and (max-width: 880px) {
    .aboutBoxrow {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 5vh;
    }
}

.aboutBoxrowreverse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    // padding: 0 4rem;
    gap: 5vh;
}

@media only screen and (max-width: 880px) {
    .aboutBoxrowreverse {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0;
        gap: 5vh;
    }
}

.descBox {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    text-align: justify;
    font-size: large;
}


@media only screen and (max-width: 880px) {
    .desc {
        text-align: justify;
        font-size: large;
        max-width: 90vw;
    }
}

.missionRow{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}


.visionRow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 1vh;
}

.iconbox{
    display: flex;
    margin-top: 1vh;
}

.missionTitle{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1vw;
    justify-content: flex-start;
}

.detailsRow{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3vw;
}

.col{
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}