@import 'variables';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.wrapper {
    display: flex;
    margin: 3rem 3rem;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .wrapper {
        display: flex;
        margin: 0 3rem 3rem 3rem;
        width: 100%;
    }
}

.aboutBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10vh;
}

.aboutTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.aboutRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 6vh;
}

@media only screen and (max-width: 767px) {
    .aboutRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 1rem;
        gap: 6vh;
    }

}

.title {
    font-size: 1.9rem;
    text-transform: capitalize;
    color: $secondary;
    font-weight: 700;
}

@media only screen and (max-width: 767px) {
    .title {
        font-size: 1.4rem;
        text-transform: capitalize;
        color: $secondary;
        font-weight: 700;
        text-align: center;
    }
}

.aboutBoxrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    gap: 5vh;
}

@media only screen and (max-width: 767px) {
    .aboutBoxrow {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 5vh;
    }
}

.aboutBoxrowreverse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 0 4rem;
    gap: 5vh;
}

@media only screen and (max-width: 767px) {
    .aboutBoxrowreverse {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0;
        gap: 5vh;
    }
}

.descBox {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    text-align: justify;
    font-size: large;
}


@media only screen and (max-width: 767px) {
    .desc {
        text-align: justify;
        font-size: large;
        max-width: 90vw;
    }
}