@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    padding: 0rem 5vw 15vh;
    background: url('/images/bglines.png') center/cover no-repeat fixed;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    margin-top: 1rem;
    background-color: $secondary;
    background-image: url('/images/bglines.png');
}

@media only screen and (max-width: 880px) {
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 8vh;
        margin-top: 0;
        background-color: $secondary;
        background-image: url('/images/bglines.png');
    }
}

.wrapper {
    display: flex;
}

@media only screen and (max-width: 880px) {
    .wrapper {
        display: flex;
        margin: 1rem  0 3rem 0;
    }
}

.title {
    font-size: 2rem;
    font-weight: 800;
    color: $primary;
    text-transform: uppercase;
}

@media only screen and (max-width: 880px) {

    .title {
        font-size: 1.3rem;
        font-weight: 800;
        color: $primary;
        text-transform: uppercase;
    }
}

.organizerBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.row {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vh;
}


@media only screen and (max-width: 880px) {
    .row {
        display: flex;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3vh;
    }
}

.titleRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 3vh;
}

.dash {
    flex: 4;
    height: 1px;
    width: 100%;
    background-color: $primary;
}


@media only screen and (max-width: 880px) {
    .dash {
        flex: 3;
        height: 1px;
        width: 100%;
        background-color: $primary;
    }
}

.titleBoxDash {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 880px) {
    .titleBoxDash {
        flex: 6;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.desgnTitle {
    font-size: 1.5rem;
    color: $primary;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

@media only screen and (max-width: 880px) {
    .desgnTitle {
        font-size: 1.1rem;
        color: $primary;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }
}

.personRow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
}

@media only screen and (max-width: 880px) {
    .personRow {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4vh;
    }
}