@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    padding: 0rem 5vw 15vh;
    background: url('/images/bglines.png') center/cover no-repeat fixed;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15vh;
    
}

@media only screen and (max-width: 880px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 0vh;
    }
}


.callRow {
    display: flex;
    width: 100%;
    gap: 5vh;
}


@media only screen and (max-width: 880px) {
    .callRow {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        gap: 0;
    }
}

.callBtmRow{
    display: flex;
    margin-top: -5rem;
    width: 100%;
    gap: 5vh;
}

@media only screen and (max-width: 880px) {
   
.callBtmRow{
    display: flex;
    margin-top: 1rem;
    width: 100%;
    gap: 5vh;
}

}

.img {
    width: 23rem;
    height: 23rem;
}

@media only screen and (max-width: 880px) {
    .img {
        width: 17rem;
        height: 17rem;
    }
}

.callLeft {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callRight {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.desc {
    font-size: $font-size-lg;
}

.topicLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4vh;
    width: 100%;
}

.topicRight {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.topicTitleBox {
    display: flex;
    width: 100%;
}

.topicTitle {
    font-size: 1.1rem;
    font-weight: 500;
}

.topicsCol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
}

.topicItemBox {
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 40vw;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
    cursor: pointer;
}

@media only screen and (max-width: 880px) {
    .topicItemBox {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        gap: 1vh;
        cursor: pointer;
    }
}

.indexBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    border-radius: 50%;
}

.topicNameBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.topic {
    font-size: 1.3rem;
    font-weight: 500;
    color: $secondary;
    text-transform: capitalize;
}

@media only screen and (max-width: 880px) {
    .topic {
        font-size: 1rem;
        font-weight: 500;
        color: $secondary;
        text-transform: capitalize;
    }
}

.index {
    font-weight: 500;
}