@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    padding: 0rem 5vw 15vh;
    background: url('/images/bglines.png') center/cover no-repeat fixed;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 3vw;
    height: 60vh;
    width: 100%;
}

@media only screen and (max-width: 880px) {
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 3vw;
        height: 100vh;
        padding: 1rem 0 0 0;
        width: 100%;
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    width: 100%;
}

@media only screen and (max-width: 880px) {
    .row {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 2vw;
        width: 100%;
    }
}

.box {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    border-radius: 10px;
    background-color: $white;
    box-shadow: rgba(202, 202, 202, 0.2) 0px 8px 24px;
    width: 100%;
    gap: 1vh;
    height: 35vh;
}

.title{
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.details{
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
}