@import 'variables';

.bannerContainer {
    height: 100vh;
    width: 100vw;
    background-position: center;
    object-fit: cover;
    background: linear-gradient(to bottom, #00272d8f, #00272d8f 100%), url('/images/carmel.png') center/cover no-repeat;
}

.container {
    display: flex;
    min-height: 88vh;
    width: 100vw;
    background: url('/images/bglines.png') center/cover no-repeat;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 3rem;
}

@media only screen and (max-width: 880px) {
    .wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 1rem 4rem 1rem;
    }
}

.left {
    flex: 7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
    flex-direction: column;
}

.right {
    flex: 5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.img {
    height: 95%;
    width: 100%;
    min-width: 300;
    object-fit: cover;
}

@media only screen and (max-width: 880px) {
    .img {
        height: 93%;
        width: 100%;
        margin: 1rem 0;
        object-fit: cover;
    }
}

.title {
    font-size: 3.3vw;
    line-height: 1.2;
    font-weight: 800;
    color: #034852;
    flex-wrap: wrap;
}

@media only screen and (max-width: 880px) {
    .title {
        font-size: 7vw;
        line-height: 1.2;
        font-weight: 800;
        color: #034852;
        flex-wrap: wrap;
    }
}

.highlight {
    color: $font-highlight-color;
}

.tagline {
    font-size: 0.95rem;
    font-weight: normal;
    letter-spacing: 0.07rem;
    max-width: 500px;
    color: #000;
}

.registerBtn {
    padding: 10px 15px;
    background-color: #00272d;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: $font-size-base;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}