@import 'variables';

.container {
    width: 100vw;
    background-color: #fff;
    // height: 13vh;
    padding: 25px 5vw 20px;
    position: fixed;
    z-index: 9990;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    top: 0;
}

@media only screen and (max-width: 880px) {
    .container {
        width: 100vw;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        padding: 15px 5vw 10px;
        z-index: 9990;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        top: 0;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    // margin: 0 3rem;
}

@media only screen and (max-width: 880px) {
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}

.navRow{
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
}

.left {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.center {
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

@media only screen and (max-width: 880px) {
    .center {
        display: none;
    }
}

.right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 880px) {
    .right {
        display: none;
    }
}

.rightMobile {
    display: none;
}

@media only screen and (max-width: 880px) {
    .rightMobile {
        display: block;
    }
}

.navItemBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0.5rem;
    position: relative;
}

.navItemBox:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid rgb(5, 181, 112);
    ;
}

.navLink {
    font-size: $font-size-base;
    text-transform: capitalize;
    font-weight: 600;
}

.navLink:hover {
    color: rgb(5, 181, 112);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(5, 181, 112);
}


@media only screen and (max-width: 880px) {
    .logo {
        font-size: 1.2rem;
        font-weight: 700;
        color: rgb(5, 181, 112);
    }
}


.registerBtn {
    padding: 10px 15px;
    background-color: #00272d;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: $font-size-esm;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.popper {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    display: none;
    background-color: #fff;
    padding: 0.3rem 0.5rem;
    box-shadow: rgba(150, 165, 149, 0.2) 0px 8px 24px;
    margin-top: 12rem;
    width: auto;
    min-width: 14rem;
    height: auto;
    border-radius: 5px;
}

.navItemBox:hover .popper {
    display: block;
}

.row {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.moreLink {
    font-size: $font-size-sm;
    font-weight: 600;
    text-transform: capitalize;
}

.moreLink:hover {
    color: $font-highlight-color;
}

.menu {
    cursor: pointer;
}

.drawer {
    display: none;
}

@media only screen and (max-width: 880px) {
    .drawer {
        display: flex;
        // flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: $white;
        height:95vh;
        width: 100vw;
        position: relative;
        padding: 5vw;
    }
}

.mobileRowRes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
}

.navMobileItemCol {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.navMobileItem {
    font-size: $font-size-base;
    text-transform: capitalize;
    color: #00272d;
    font-weight: 500;
}

.mobileRow {
    display: flex;
    width: 98%;
    justify-content: space-between;
}

.mobileMoreLinkRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
    cursor: pointer;
}

.morelinkcol {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    padding: 0.5rem 0 0 1rem;
}

.mobileMoreLinkRow {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navlinkBOx {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobileMoreLinkBox {
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: space-between;
}

.res {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 880px) {
    .res {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.registerResBtn {
    display: flex;
    margin-top: 1rem; 
    width: 95vw;
    border-radius: 5px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: 600;
    background-color: $secondary;
}

.credits{
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 1rem;
    left: 0.5rem;
}

.rights{
    font-size: 0.8rem;
}

.high{
    font-weight: 500;
    color: $primary;
}