@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    padding: 0rem 5vw 7vh;
    background: url('/images/bglines.png') center/cover no-repeat fixed;
}

.wrapper {
    margin: 2vh 0rem 2vh 0rem;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

@media only screen and (max-width: 880px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 15vh;
    }
}

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.titleBox {
    display: flex;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: flex-start;
    gap: 4vh;
}

.guidelines {
    display: flex;
    align-items: flex-start;
    // justify-content: center;
    gap: 3vh;
}

.titlename{
    font-size: 1.4rem;
    font-weight: 500;
    color: $secondary;
    text-transform: capitalize;
}

@media only screen and (max-width: 880px) {
    .titlename{
        font-size: 1.2rem;
        font-weight: 500;
        color: $secondary;
        text-transform: capitalize;
    }
}